{% extends 'layouts.html' %}

{% block title%}{{title}}{% endblock%}



{% block content%}
    <h1>Envianos un correo con tu consulta: </h1>
    <form method ="POST" action = '{% url 'contacto' %}'>
        {% csrf_token %}

        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}
        {% endfor %}

        <input type='submit' value='Enviar'/>
    </form>

    {% if messages%}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endfor%}
    {% endif %}

{% endblock%}