{% extends 'layouts.html' %}

{% block title%}{{title}}{% endblock%}



{% block content%}
    <h1 class='titulo_home'>Envianos un correo con tu consulta: </h1>
    <form method ="POST" action = "{% url 'contacto' %}">
        {% csrf_token %}

        {% for field in form %}
            <label>{{ field.label }}</label>
            {% if field.name == 'message' %}
                <textarea name="{{ field.name }}" placeholder="Escribe tu mensaje aquí"></textarea>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}

        <input type='submit' value='Enviar'/>
    </form>

    {% if messages%}
            {% for message in messages %}
                <div class="alert-success">
                    {{message}}
                </div>
            {% endfor%}
    {% endif %}

{% endblock%}