{% extends 'layouts.html' %}
{% load static %}
{% block title%}Inicio{% endblock%}

{% block content%}
    <h1 class='titulo_home'>{{title}}</h1> <!-- Título de la página -->
    <hr/>
    {% if messages%}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% endif %}">
                {{message}} <!-- Mensajes de éxito o advertencia para el usuario -->
            </div>
        {% endfor%}
    {% endif %}

    {% if user.email %}
    <h2 id="welcome_message">Bienvenide, {{user.first_name}} {{user.last_name}}</h2> <!-- Mensaje de bienvenida personalizado -->
    {% else %}
        <h2 id='ingresa'> 
        <a href='login' id=ingresa >Ingresa para ver más</a> 
        </h2>

        {% comment "" %}
            Aca van el video y una descripcion de la empresa 
        {% endcomment %}

        <div class="video-container">
        <video controls class="video">
            <source src="{% static 'images/dummy Video.mp4' %}" type="video/mp4">
            Tu navegador no admite la reproducción de videos.
        </video>
        <div class="video-text">
            <h3>Quienes somos</h3>
            <!-- Descripción de la empresa -->
            <p>In rhoncus fringilla diam. Nam id eros et nunc blandit luctus. Nam et vestibulum elit. Proin vestibulum vel tortor in tempor. Morbi rutrum ac eros ac tincidunt. Quisque at lacus sit amet nisl consequat laoreet sit amet vel velit. Nunc ut odio sit amet nisl posuere consectetur. Morbi facilisis, felis et condimentum congue, libero dui semper magna, ac pharetra nisi risus a leo. Nulla vehicula odio a eros laoreet suscipit auctor ac sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce aliquet dignissim diam eu pellentesque.

Phasellus arcu sem, laoreet faucibus sapien rutrum, tincidunt congue lacus. Sed egestas dolor id quam volutpat vulputate. Integer bibendum, enim nec dapibus ultricies, tellus urna lobortis arcu, in pretium ex diam eget mauris. Nulla ac porta odio. Donec quam ligula, lacinia in sapien in, bibendum tristique risus. Suspendisse vulputate, dolor ac elementum eleifend, nisi sem viverra nibh, nec facilisis elit lectus et augue. Sed in ipsum urna. Phasellus tristique molestie turpis, in malesuada sapien cursus eget. Nam facilisis efficitur sollicitudin. Vestibulum ac tellus rutrum, pharetra mi quis, bibendum nisi. Praesent id nunc tristique est elementum porta. Aenean dictum sed tortor eu interdum. Fusce aliquam metus vel eros porttitor aliquam. Nullam vulputate posuere purus ut fringilla.

Maecenas nec dolor molestie, vehicula libero vitae, laoreet lacus. Cras vel pharetra metus. Sed sed quam condimentum felis ullamcorper pharetra. Pellentesque nulla nisi, pulvinar at eros placerat, viverra tristique tellus. Suspendisse venenatis ex ultrices arcu hendrerit finibus..</p>
        </div>
    </div>
    {% endif %}



<hr class="separador">

{% comment "" %}
Aca van las obras 
{% endcomment %}

<h1 class="titulo_articulos">
    <a class='link' href= "{% url 'login' %}">Obras</a>
</h1>

    <article class="obras_home">
    {% for obra in obras %}
    {% if obra.public == True %}
        <article class="obra-item">
            {% if obra.image_1.url %}
                <div class="image">
                    <img src="{{ obra.image_1.url }}" alt="Imagen 1">
                </div>
            {% endif %}


            <div class="data">
                <h2>{{ obra.title }}</h2>
                <p>
                    {% for category in obra.category.all %}
                        <a href="{% url 'categoria' category.id %}" class='link' >{{category}}</a>
                        {% if forloop.counter < obra.category.all|length %}
                            {{'-'}}
                        {% endif %}
                    {% endfor %}
                </p>

                <span class="date">{{ obra.created_at }}</span>
                <p>{{ obra.content | safe }}</p>
                <hr class="separador">
            </div>
        </article>
    {% endif %}
    {% endfor %}
</article>



{% comment "" %}
A continuación, se muestran los lotes. 
{% endcomment %}


<hr class="separador">
<h1 class="titulo_articulos">
    <a class='link' href="{% url 'lote' %}">Lotes</a>    
</h1>


<article class="lotes_home">
        {% for lote in lotes %}
        {% if lote.public == True%}
            <article class="lote-item">
                {% if lote.image.url %}
                    <div class="image">
                        <img src="{{ lote.image.url }}" alt="Imagen">
                    </div>
                {% endif %}

                <div class="data">
                    <h2>Lote: {{ lote.id_lote }}</h2>
                    <h3>Estado: {{lote.status}}</h3>
                    <span class="date">{{ obra.created_at }}</span>
                    <p>{{ lote.content | safe }}</p>
                    <hr class="separador">
                </div>

                <div class="clearfix"></div>

            </article>
        {% endif %}
    {% endfor %}

    </article>



{% endblock%}