<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        <!-- Título de la página (puede ser sobrescrito por bloques hijos) -->
        {% endblock %}
    </title>

    {% load static %}
    <!-- Enlace al archivo de estilos CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Enlace a la fuente de iconos RemixIcon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Inclusión del archivo de script JavaScript -->
    <script src="{%static 'script/script.js'%}"></script>

    

</head>
<body>
    <div id="logotipo">
            <a href="{% url 'home' %}">
            <!-- Logotipo de la empresa -->
            <img src="{% static 'images/Gisa.png'%}"/>
            </a>
    </div>
    
    <nav>
        <ul class="menu">
            {% if user.email%}
            <!-- Menú para usuarios autenticados -->
            <li>
            <i class="ri-building-4-fill"></i>
            <a href="{% url 'obras' %}">Mi Obra</a>
            </li>
            <li>
            <i class="ri-bubble-chart-fill"></i>
            <a href="{% url 'lote' %}">Lotes</a>
            </li> 
            <li>
            <i class="ri-mail-fill"></i>
            <a href="{% url 'contacto' %}">Contacto</a>
            </li>
            <li>
            <i class="ri-walk-fill"></i>
            <a href="{% url 'salir' %}">Salir</a>
            </li>
            {% else%}
            <!-- Menú para usuarios no autenticados -->
            <li>
            <i class="ri-home-3-fill"></i>
            <a href="{% url 'home' %}">Inicio</a>
            </li>
            <li>
            <i class="ri-mail-fill"></i>
            <a href="{% url 'contacto' %}">Contacto</a>
            </li>
            <li>
            <i class="ri-award-fill"></i>
            <a href="{% url 'Sobrenosotros' %}">Sobre Nosotros</a>
            </li>
            <li>
            <i class="ri-building-4-fill"></i>
            <a href="{% url 'obras_all' %}">Obras</a>
            </li>
            <li>
            <i class="ri-bubble-chart-fill"></i>
            <a href="{% url 'lote' %}">Lotes</a>
            </li>
            <li>
            <i class="ri-user-3-fill"></i>
            <a href="{% url 'login' %}">Iniciar Sesion</a>
            </li>
            <li>
            {% endif %}
            
            
        </ul>
    </nav>

<div class="white-block">


    {% block content%}
    <!-- Contenido principal (puede ser sobrescrito por bloques hijos) -->

    {% endblock %}



</div>






    <footer class='footer'>
        <div>
            <h4 id='texto_footer'>Gisa s.a.  Todos los derechos reservados 
                <!-- Enlaces de "Trabaja con nosotros" y "Contáctanos" en el pie de página -->
                <a class='link' href="https://forms.gle/yNaXYgjHYANxqY6g9" target="_blank">Trabaja con nosotros</a>  
                <a class='link' href="{% url 'contacto' %}">Contáctanos</a>
            </h4>
        </div>
    </footer>







</body>
</html>
