{% extends 'layouts.html' %} <!-- Extiende de layouts.html -->

{% block title%}{{title}}{% endblock%} <!-- Título de la página -->



{% block content%}
    <section>
            <div>
                <h2>Nuestra Historia</h2>
                <!-- Descripción de la historia de la empresa -->
                <p>Somos una constructora especializada en obras de gas y agua con una trayectoria destacada en el mercado. Fundada en [año de fundación], hemos crecido para ser líderes en el sector.</p>
            </div>
    </section>

    <section>
        <div>
            <h2>Nuestra Misión</h2>
            <!-- Descripción de la misión de la empresa -->
            <p>Brindamos soluciones de calidad en obras de gas y agua, contribuyendo al desarrollo sostenible y la seguridad. Nos comprometemos con la excelencia y la seguridad en cada proyecto.</p>
        </div>
    </section>

    <section>
        <div>
            <h2>Nuestro Equipo</h2>
            <!-- Descripción del equipo de la empresa -->
            <p>Nuestro equipo está compuesto por ingenieros especializados, técnicos experimentados y personal administrativo comprometido.</p>
        </div>
    </section>


    <button id="contactButton">Contáctanos</button> <!-- Botón para contactar a la empresa -->

{% endblock%}

