{% extends 'layouts.html' %}


{% block title%}{{title}}{% endblock%}



{% block content %}
    <h1 class="titulo_articulos">{{title}}</h1>

    <div class="titulo_articulos">
        <h2  >Si no te registraste hacé click</h2><a id="link-aca" href="{% url 'register' %}">Acá</a>
    </div>

    {{register_form.errors}}


    {% if messages%}
        {% for message in messages %}
            <div class="alert alert-warning">
                {{message}}
            </div>
        {% endfor%}
    {% endif %}
    


    <form method ="post" action = ''>
        {% csrf_token %}
        <label for ='username'> Nombre de usuario: </label>
        <input type='text' name = 'username'/>

        <label for ='password'> Contraseña: </label>
        <input type='password' name = 'password'/>

        <input type='submit' value='login'/>
    </form>

{% endblock %}