body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el logotipo */
#logotipo img {
    width: 300px; /* Ajusta el ancho del logotipo */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    margin-right: 10px;
}

#menu {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex; /* Cambia a un contenedor flexible para alinear elementos */
    justify-content: center; /* Distribuye elementos a ambos lados */
    align-items: center; /* Centra verticalmente los elementos */
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

#menu ul li {
    margin-right: 20px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
}

.contenedor-principal {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior del contenedor */
}

.mapa {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Estilos para el footer */
.footer {
    width: 100%;
    height: 50px; /* Ajusta la altura del footer  */
    background-color: #1B1E1F;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 20px grey;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer h4{
    line-height: 0.2;
}

.footer a{
    margin-right: 0px;
}
footer i{
    font-size: 25px; 
    padding-top: 10px;
}



/* Estilos para los links */
.link {
    color: rgb(76, 103, 141);
    text-decoration: none;
    margin: 20px;
    
}


/* Estilo CSS para mostrar los elementos de redes sociales */
.social li {
    background-color: rgb(255, 255, 255);
    display: inline-block; /* Cambia 'inline' a 'inline-block' para permitir ajustar el tamaño */
    margin-right: 30px; /* Añade espacio entre los iconos si es necesario */
}

.social a {
    color: rgb(76, 103, 141);
    text-decoration: none; /* Evita que los iconos aparezcan subrayados */
}

/* Estilos para los iconos de redes sociales */
.social i {
    font-size: 20px; /* Ajusta el tamaño deseado */
}
.nav_social{
    background-color: rgb(255, 255, 255);
    border: none;
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
}




#nombre_lote{
    text-align:center;
    font-size:xx-large;
    text-decoration: underline;
    margin-bottom: 80px;
}
#precio{
    text-align:center;
    font-size:xx-large;
    text-decoration: underline;
    margin-bottom: 80px;
}


.lote-info {
    background-color: #f2f2f2; /* Cambia el color de fondo */
    color: #333; /* Cambia el color del texto */
    padding: 20px; /* Aumenta el espaciado interior para un aspecto más limpio */
    margin: 0 auto; /* Esto centrará horizontalmente el contenedor */
    max-width: 800px; /* Establece un ancho máximo para el párrafo */
    text-align: justify;
    border: 1px solid #ccc; /* Agrega un borde alrededor del contenedor */
    border-radius: 5px; /* Añade esquinas redondeadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una ligera sombra */
    margin-bottom: 5%; /* Ajusta el margen inferior según sea necesario */
    line-height: 1.6; /* Aumenta el espaciado entre líneas para mejorar la legibilidad */
}



#image-container {
    text-align: center; /* Centra la imagen horizontalmente */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    max-width: 800px; /* Establece un ancho máximo para el contenedor */
}

#image_lote {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    max-height: 400px; /* Establece una altura máxima para la imagen */
    border: 1px solid #ccc; /* Agrega un borde ligero a la imagen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a la imagen */
    border-radius: 5px; /* Añade esquinas redondeadas a la imagen */
    margin-bottom: 30px; /* Agrega espacio inferior para separar las imágenes */
}




/* Estilos para el contenedor del botón de búsqueda */
.search {
    display: flex; /* Muestra los elementos en línea */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    max-width: 300px; /* Establece un ancho máximo para el contenedor */
}

/* Estilos para el botón de búsqueda */
.search-button {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 5px 10px; /* Añade un relleno al botón (ajústalo según tus preferencias) */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    font-size: 16px; /* Tamaño del texto del botón */
    transition: background-color 0.3s ease; /* Agrega una transición suave para cambiar el color de fondo */
}

/* Estilo para cambiar el color de fondo cuando el cursor está sobre el botón */
.search-button:hover {
    background-color: #45a049; /* Color de fondo diferente al pasar por encima */
}

/* Estilo para cambiar el color de fondo cuando el botón está presionado */
.search-button:active {
background-color: #3e8e41; /* Color de fondo diferente cuando el botón está presionado */
}
/* Estilos para el contenedor del botón de búsqueda */
.search {
    display: flex; /* Muestra los elementos en línea */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    max-width: 300px; /* Establece un ancho máximo para el contenedor */
    justify-content:center; /* Alinea los elementos a la derecha */
    margin-right: 30px;
    margin-top: 30px;
    margin-left: auto; /* Mueve el contenedor hacia la derecha */
}
.search_input{
    min-width: auto;
}

.estado_disponible{
    text-align: center;
    background-color: #4CAF50;
}
.estado_vendido{
    text-align: center;
    background-color: #d12424;
}
#boton_volver_abajo {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: relative; /* Cambiamos la posición a relativa */
    left: 50%; /* Centramos horizontalmente */
    transform: translateX(-50%); /* Centramos el botón correctamente en relación con su ancho */
    margin-bottom: 20%; /* Añadimos un margen inferior para separar del contenido */
}

#boton_volver_abajo:hover {
    background-color: #45a049;
}

#boton_volver_abajo:active {
    background-color: #3e8e41;
}

#boton_volver_abajo a {
    text-decoration: none;
    color: aliceblue;
}






/* Estilo para el botón de búsqueda en buscar_lote.html */
.search-button-buscar-lote {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 0px;
    padding: 5px 10px;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Cambiar el color de fondo cuando el cursor está sobre el botón */
.search-button-buscar-lote:hover {
    background-color: #45a049;
}

/* Cambiar el color de fondo cuando el botón está presionado */
.search-button-buscar-lote:active {
    background-color: #3e8e41;
}
.search-button-buscar-lote a{
    text-decoration: none;
    color: aliceblue;
}

