body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el logotipo */
#logotipo img {
    width: 300px; /* Ajusta el ancho del logotipo */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    margin-right: 10px;
}

#menu {
    background-color: #333;
    color: white;
    padding: 10px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#menu ul li {
    margin-right: 20px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
}

.numeros {
    flex: 1;
}

.numeros ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.numeros ul li {
    margin-bottom: 10px;
}

.contenedor-principal {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior del contenedor */
}

.barra-vertical {
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 0px; /* Ajusta este margen si es necesario */
    height: 100%; /* Para que la barra tenga la misma altura que la imagen */
    width: auto; /* Para que la barra sea más ancha y ajuste su contenido */
}

.barra-vertical .button {
    margin-bottom: 50px; /* Reduzco el espacio entre los botones */
    padding: 5px; /* Reduzco el espacio dentro de los botones */
    border-radius: 20px; /* Reduzco el radio del borde de los botones */

}

.mapa {
    width: 90%;
    height: 100%;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 50px;
}

