{% extends "Lotes.html" %}

{% block content %}
    {% if lote_encontrado %}
        <button class="search-button-buscar-lote"> 
            <a href="{% url 'lote' %}" >Volver</a>
        </button>


        <h4 id="nombre_lote">Lote: {{ lote_encontrado.id_lote }}</h4>
        {% if lote_encontrado.status == 'Disponible'%}
            <button id="contactButton">
                <a id="boton_comprar" href="{% url 'contacto' %}" >Comprar Lote</a>
            </button>
        {% endif%}

        <h4 id="precio">Precio: Usd. {{ lote_encontrado.price }}</h4>


        <h3 class="{% if lote_encontrado.status == 'Disponible' %} estado_disponible {% else %} estado_vendido {% endif %}">
            Estado: {% if lote_encontrado.status == 'Disponible' %} Disponible {% else %} Vendido {% endif %}
        </h3>





        <div id="image-container">
            <img src="{{ lote_encontrado.image.url }}" alt="Imagen del lote" id="image_lote">
        </div>
        
        </br>
        <div class="lote-info">
            <p id="content_lote">{{ lote_encontrado.content|safe}}</p>
        </div>
        <button id="boton_volver_abajo"> 
            <a href="{% url 'lote' %}" >Volver</a>
        </button>
        
    {% else %}
        <p>No se encontró el lote.</p>
    {% endif %}
{% endblock %}

