{% extends "Lotes.html" %}

{% block content %}
    {% if no_authenticated_message %}
        <div class="alert alert-warning">
            {{ no_authenticated_message }}
        </div>
    {% endif %}





    {% if lote %}
    <h1>Detalles del Lote</h1>
    <p>ID de Lote: {{ lote.id_lote }}</p>
    <p>Contenido: {{ lote.content }}</p>
    <p>Estado: {{ lote.status }}</p>
    <p>Precio: {{ lote.price }}</p>
    <p>Imagen: <img src="{{ lote.image.url }}" alt="Imagen del lote"></p>
    <!-- Otros detalles del lote que desees mostrar -->
    {% else %}
    <p>No tienes ningún lote.</p>
    {% endif %}
{% endblock %}
