{% extends "Lotes.html" %}

{% block content %}
    {% if no_authenticated_message %}
        <div class="no_lote">
            {{ no_authenticated_message }}
        </div>
        <button id="contactButton">Contáctanos</button>
    {% endif %}





    {% if lote %}
        <button class="search-button-buscar-lote"> 
            <a href="{% url 'lote' %}" >Volver</a>
        </button>
        <h1 class="titulo">Detalles del Lote</h1>
        <p id="nombre_lote">ID de Lote: {{ lote.id_lote}}</p>
        <p id="precio" >Precio: {{ lote.price }}</p>
        <p class="{% if lote.status == 'Disponible' %} estado_disponible {% else %} estado_vendido {% endif %}">
            Estado: {{ lote.status }}
        </p>
        <div id="image-container">
            <img id="image_lote" src="{{ lote.image.url }}" alt="Imagen del lote">
        </div>
        <div class="lote-info">
            <p id="content_lote" >{{ lote.content|safe }}</p>
        </div>

        <div class="clearfix"></div>

    {% endif %}
{% endblock %}
