/* Estilos para el logotipo */
#logotipo img {
    width: 100px; /* Ajusta el ancho del logotipo a 100px */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    margin-right: 10px;
}

/* Estilos para la barra de navegación (nav) */
nav {
    background-color: #1B1E1F;
    border: 1px solid #333;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: right; /* Alinea los elementos hacia la izquierda y la derecha */
    padding: 10px;
}

.menu {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-left: 50px; /* Espacio entre elementos de menú */
    position: relative; /* Agrega una posición relativa al elemento li */
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: small;
    padding: 5px;
    position: relative; /* Agrega una posición relativa al enlace para colocar el submenú */
}

.menu li a:hover {
    background-color: #d8cbc6;
    color: #000000;
    transition: all 300ms;
}

/* Estilos para el submenú */
.menu li ul {
    display: none; /* Oculta el submenú por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
}

.menu li:hover ul {
    display: block; /* Muestra el submenú al pasar el ratón sobre el enlace */
}

.menu li ul li {
    padding: 8px 8px; /* Estilo para los elementos del submenú */
}

.menu li ul li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.menu li ul li a:hover {
    background-color: #ddd;
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 5px;
}

.search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #fff;
}

/* Estilos para el bloque blanco */
.white-block {
    background-color: rgb(255, 255, 255);
    padding-bottom: 70px; /* Ajustar el espacio entre el contenido y el footer */
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para el footer */
.footer {
    width: 100%;
    height: 50px; /* Ajusta la altura del footer según tus necesidades */
    background-color: #1B1E1F;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 20px grey;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.link {
    color: rgb(76, 103, 141);
    text-decoration: none;
}

.obra-item {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Establece un ancho máximo en píxeles para las imágenes dentro de obra-item */
.obra-item img {
    max-width: 400px; /* Ajusta el ancho máximo de las imágenes */
    height: auto;
}

/* Alinea las imágenes horizontalmente dentro de obra-item */
.obra-item .image {
    display: inline-block;
    margin-right: 10px; /* Ajusta el espaciado entre imágenes */
}

.separador {
    color: #1B1E1F;
}

.alert-success,
.alert {
    padding: 20px;
    background: #72cea9;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.alert-warning,
.alert{
    background: red;
}


.box form{
    width: 40%;

}

.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
}

.box form input[type="text"],
.box form input[type="email"],
.box form input[type="password"],
.box form textarea,
.box form select{
    width: 100%;
    margin-bottom: 10px;
}
.box form select{
    width: 100px;
    padding: 5px;
}
.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top: 5px;
    background: #2ba977;
    border: 1px solid black;
    color: white;
    transition: 300ms all;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
    cursor: pointer;
    background: #1f7e58;
    
}

/* Estilos para el contenedor del botón de búsqueda */
.search {
    display: flex; /* Muestra los elementos en línea */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    max-width: 300px; /* Establece un ancho máximo para el contenedor */
}

/* Estilos para el botón de búsqueda */
.search-button {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Añade un relleno al botón (ajústalo según tus preferencias) */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    font-size: 16px; /* Tamaño del texto del botón */
    transition: background-color 0.3s ease; /* Agrega una transición suave para cambiar el color de fondo */
}

/* Estilo para cambiar el color de fondo cuando el cursor está sobre el botón */
.search-button:hover {
    background-color: #45a049; /* Color de fondo diferente al pasar por encima */
}

/* Estilo para cambiar el color de fondo cuando el botón está presionado */
.search-button:active {
background-color: #3e8e41; /* Color de fondo diferente cuando el botón está presionado */
}
