/* Estilos para el logotipo */
#logotipo img {
    width: 150px; /* Ajusta el ancho del logotipo */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    margin-right: 10px;
}

/* Estilos para la barra de navegación (nav) */
nav {
    background-color: #1B1E1F;
    border: 1px solid #333;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: right; 
}

.menu {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    list-style: none;
    margin: 5px;
    padding:5px;
}

.menu li {
    margin-left: 50px; /* Espacio entre elementos de menú */
    position: relative; /* Agrega una posición relativa al elemento li */
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: small;
    padding: 5px;
    position: relative; 
}

.menu li a:hover {
    background: #2ba977;
    color: white;
    transition: all 300ms;
}



/* Estilos para el contenedor de datos */
.data {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    height: 80vh;

}

.data h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.data p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.data a.link {
    color: #2ba977;
    text-decoration: none;
    margin-right: 5px;
}

.data span.date {
    font-size: 12px;
    color: #999;
    display: block;
    margin-top: 10px;
}

.data p.safe-content {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
}

.data hr.separador {
    margin: 20px 0;
    border: none;
    border-top: 1px dashed #ccc;
}

.data {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.data p {
    background-color: #f9f9f9; /* Fondo gris claro para el texto */
    padding: 10px; /* Espacio alrededor del texto */
    margin: 0; /* Elimina el margen predeterminado */
}


/* Estilos para el bloque blanco */
.white-block {
    background-color: rgb(255, 255, 255);
    padding-bottom: 2000px; /* Ajustar el espacio entre el contenido y el footer */
}

/* Estilos para el formulario */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para el footer */
.footer {
    width: 100%;
    height: 50px; /* Ajusta la altura del footer  */
    background-color: #1B1E1F;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 20px grey;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer h4{
    line-height: 0.2;
}

.footer a{
    margin-right: 0px;
}
footer i{
    font-size: 30px; /* Ajusta el tamaño deseado */
}



/* Estilos para los links */
.link {
    color: rgb(76, 103, 141);
    text-decoration: none;
    margin: 20px;
    
}


/* Estilos para las obras */
.obra-item {
    max-width: 33.33%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
    float: left; /* Cambiamos el float a "left" para alinear las obras horizontalmente */
    width: 33.33%; /* Cambiamos el width a "33.33%" para dividir en tres columnas */
}

/* Alinea las imágenes horizontalmente dentro de obra-item */
.obra-item .image {
    display: inline-block;
}

/* Establece un ancho fijo y altura para las imágenes */
.obra-item img {
    width: auto;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.obra-item img:hover{
    transition: 01s;
    transform: scale(1.2);
}

/* Limpiar el flujo de elementos para evitar problemas de alineación */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Estilo adicional para el contenedor de las obras */
.obras_home {
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
    overflow: hidden; /* Para limpiar correctamente el float de los elementos hijos */
}



.separador {
    color: #1B1E1F;
}

.alert-success {
    padding: 20px;
    background: #72cea9;
    color: white;
    text-align: center;
    margin-bottom: 10px;

}

.alert-warning{
    background: red;
    min-height: 30px;
}


.box form{
    width: 40%;

}

.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
    padding-right: 5px;
}

.box form input[type="text"],
.box form input[type="email"],
.box form input[type="password"],
.box form textarea,
.box form select{
    width: 100%;
    margin-bottom: 10px;
}
.box form select{
    width: 100px;
    padding: 5px;
}
.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top: 5px;
    background: #2ba977;
    border: 1px solid black;
    color: white;
    transition: 300ms all;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
    cursor: pointer;
    background: #1f7e58;
    
}



/* Estilo para el video */
.video-container {
    display: flex; /* Mostrar los elementos en línea */
    align-items: center; /* Centrar verticalmente los elementos */
    gap: 20px; /* Espacio entre el video y el texto */
    padding: 20px; /* Espacio alrededor del contenedor */
}

.video {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.video-text {
    flex: 1; /* Ocupar el espacio restante */
    margin-bottom: 50px;
    
}


.titulo_home{
    text-align:center;
    font-size:xx-large;
}

#welcome_message{
    text-align:center;
    font-size:x-large;
}

.titulo_articulos{
    text-align:center;
    font-size:xx-large;
    text-decoration: none;
    margin-bottom: 80px;
}


#ingresa {
    text-decoration: none;
    background: #a7cfbf;
    width: fit-content;
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 10px; /* Añadir espacio alrededor del texto */
    text-align: center;
    color: aliceblue;
}

/* Estilos para los lotes */
.lote-item {
    max-width: 33.33%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
    float: left; /* Cambiamos el float a "left" para alinear los lotes horizontalmente */
    width: 33.33%; /* Cambiamos el width a "33.33%" para dividir en tres columnas */
}

/* Alinea las imágenes horizontalmente dentro de lote-item */
.lote-item .image {
    display: inline-block;
}

/* Establece un ancho fijo y altura para las imágenes */
.lote-item img {
    width: auto;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.lote-item img:hover{
    transform: scale(1.2);
    transition: 01s;
}

/* Limpiar el flujo de elementos para evitar problemas de alineación */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Estilo adicional para el contenedor de los lotes */
.lotes_home {
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
    overflow: hidden; /* Para limpiar correctamente el float de los elementos hijos */
}

/* Aplicar fondo gris claro al contenido de los lotes */
.lote-item p {
    background-color: #f9f9f9; /* Fondo gris claro para el texto de los lotes */
    padding: 5px; /* Espacio alrededor del texto */
    margin: 0; /* Elimina el margen predeterminado */
    margin-top: 0px;
}
.obra-item:first-child .data p {
    background-color: transparent; /* Elimina el fondo gris claro */
    padding: 0; /* Elimina el espacio alrededor del texto */
}

/*estilos para sobre nosotros*/
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para los títulos de sección */
section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilos para los párrafos de sección */
section p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para el botón "Contáctanos" */
#contactButton {
    background-color: #2ba977;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    
    /* Centrar horizontalmente el botón */
    display: block;
    margin: 0 auto;
}

#contactButton:hover {
    background-color: #1f7e58;
}


#titulo_obras{
    text-align: center;
}








/* Estilos para las obras en Obras */
.obra-item-obras {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden; /* Agregamos overflow: hidden para evitar que las imágenes se desborden */
}

/* Utilizamos flexbox para alinear las imágenes horizontalmente */
.image-obras {
    display: flex;
    flex-wrap: nowrap; /* Evita que las imágenes se envuelvan en una nueva línea */
    justify-content: flex-start; /* Alinea las imágenes al principio */
    gap: 10%; /* Espacio entre las imágenes */
}

/* Establece un ancho fijo y altura para las imágenes */
.obra-item-obras .image-obras img {
    width: auto;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* Aplica margen izquierdo solo a la primera imagen */
.obra-item-obras .image-obras img:first-child {
    margin-left: 30px; /* Ajusta la cantidad de margen izquierdo según tu preferencia */
}


.obra-item-obras img:hover {
    transition: 0.1s;
    transform: scale(1.2);
}

/* Establece un ancho fijo para el contenedor de imágenes */
.obra-item-obras .image-obras {
    width: 100%; /* Ocupa todo el ancho disponible */
}




/* Estilos para las categorías */
.obra-item-categorias {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden; /* Agregamos overflow: hidden para evitar que las imágenes se desborden */
}

.obra-item-categorias img {
    display: inline-block; /* Hace que las imágenes se muestren en línea y estén una al lado de la otra */
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Agrega un margen a la derecha para separar las imágenes */
}

.obra-item-categorias img:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.obra-item-categorias img:hover {
    transition: 0.1s;
    transform: scale(1.2);
}

