{% extends 'layouts.html' %} <!-- Extiende de layouts.html -->

{% block title %}{{ title }}{% endblock %} <!-- Titulo de la página -->

{% block content %}
    <!-- Encabezado de la página -->
    <h1 class="titulo_articulos">{{ title }}</h1>
    <!-- Bucle para mostrar obras -->
    {% for obra in obras %}
        {% if obra.public == True %}
            <!-- Contenedor de una obra -->
            <article class="obra-item-categorias">
                <!-- Imágenes de la obra (hasta 3 imágenes) -->
                {% if obra.image_1.url %}
                    <img src="{{ obra.image_1.url }}" alt="Imagen 1">
                {% endif %}

                {% if obra.image_2.url %}
                    <img src="{{ obra.image_2.url }}" alt="Imagen 2">
                {% endif %}

                {% if obra.image_3.url %}
                    <img src="{{ obra.image_3.url }}" alt="Imagen 3">
                {% endif %}
                <!-- Datos de la obra -->
                <div class="data">
                    <h2>{{ obra.title }}</h2>
                    <p>
                        <!-- Enlaces a las categorías de la obra -->
                        {% for category in obra.category.all %}
                            <a href="{% url 'categoria' category.id %}" class="link">{{ category }}</a>
                            {% if forloop.counter < obra.category.all|length %}
                                {{ '-' }}
                            {% endif %}
                        {% endfor %}
                    </p>
                    <span class="date">{{ obra.created_at }}</span>
                    <p>{{ obra.content | safe }}</p>
                    <hr class="separador">
                </div>
                <div class="clearfix"></div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock %}
