{% extends 'layouts.html' %} <!-- Extiende de layouts.html -->

{% block title %}{{ title }}{% endblock %} <!-- Titulo de la página -->

{% block content %}
    <!-- Encabezado de la página -->
    <h1 id="titulo_obras">{{ title }}</h1>
    <hr class="separador">
    <!-- Comprobar si hay obras disponibles -->
    {% if obras %}
        <!-- Bucle para mostrar obras -->
        {% for obra in obras %}
            {% if obra.public %}
                <!-- Contenedor de una obra -->
                <article class="obra-item-obras">
                    <!-- Imágenes de la obra (hasta 3 imágenes) -->
                    <div class="image-obras">
                        {% if obra.image_1.url %}
                            <img src="{{ obra.image_1.url }}" alt="Imagen 1">
                        {% endif %}
                        {% if obra.image_2.url %}
                            <img src="{{ obra.image_2.url }}" alt="Imagen 2">
                        {% endif %}
                        {% if obra.image_3.url %}
                            <img src="{{ obra.image_3.url }}" alt="Imagen 3">
                        {% endif %}
                    </div>
                    <!-- Datos de la obra -->
                    <div class="data">
                        <h2>{{ obra.title }}</h2>
                        <p>
                            <!-- Enlaces a las categorías de la obra -->
                            {% for category in obra.category.all %}
                                <a href="{% url 'categoria' category.id %}" class='link'>{{ category }}</a>
                                {% if not forloop.last %}
                                    {{ '-' }}
                                {% endif %}
                            {% endfor %}
                        </p>
                        <span class="date">{{ obra.created_at }}</span>
                        <p>{{ obra.content | safe }}</p>
                        <hr class="separador">
                    </div>
                    <div class="clearfix"></div>
                </article>
            {% endif %}
        {% endfor %}
    {% else %}
        <!-- Mensaje si no hay obras disponibles -->
        <h2 id="titulo_obras">Todavía no tenés una obra, escribinos para empezar a trabajar con nosotros</h2>
        <button id="contactButton">Contáctanos</button>
    {% endif %}
{% endblock %}
