{% extends 'layouts.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 id="titulo_obras">{{ title }}</h1>
    <hr class="separador">

    {% if obras %}
        {% for obra in obras %}
            {% if obra.public %}
                <article class="obra-item-obras">
                    <div class="image-obras">
                        {% if obra.image_1.url %}
                            <img src="{{ obra.image_1.url }}" alt="Imagen 1">
                        {% endif %}
                        {% if obra.image_2.url %}
                            <img src="{{ obra.image_2.url }}" alt="Imagen 2">
                        {% endif %}
                        {% if obra.image_3.url %}
                            <img src="{{ obra.image_3.url }}" alt="Imagen 3">
                        {% endif %}
                    </div>
                    <div class="data">
                        <h2>{{ obra.title }}</h2>
                        <p>
                            {% for category in obra.category.all %}
                                <a href="{% url 'categoria' category.id %}" class='link'>{{ category }}</a>
                                {% if not forloop.last %}
                                    {{ '-' }}
                                {% endif %}
                            {% endfor %}
                        </p>
                        <span class="date">{{ obra.created_at }}</span>
                        <p>{{ obra.content | safe }}</p>
                        <hr class="separador">
                    </div>
                    <div class="clearfix"></div>
                </article>
            {% endif %}
        {% endfor %}
    {% else %}
        <h2 id="titulo_obras">Mándanos un correo para crear una obra</h2>
        <button id="contactButton">Contáctanos</button>
    {% endif %}
{% endblock %}
